.App {
  width: 80%;
  margin: 0 auto;
}

.ingredients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px auto;
  border: 2px solid grey;
}
.panel {
  width: 50%;
  margin: 0 auto;
  position: relative;

}
